.root{
  width: 80%;
  margin-top: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow-x: auto;
  
}

.table {
	min-width: 700;
}
tbody {
	vertical-align: middle !important;
}
.edit-button {
  margin-right: 10px !important;
}

.MuiTableCell-root-74 {
	text-align: left !important;
}
